<form (submit)="addTeam()">
  <div class="form-group">
    <label class="title">Название</label>
    <br>
    <input [(ngModel)]="model.name" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label class="title">Описание</label>
    <br>
    <input [(ngModel)]="model.description" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Enter name">
  </div>

  <button class="btn btn-primary" type="submit">Добавить</button>
  <a routerLink="/teams" class="btn btn-light">Назад</a>
</form>
